<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 인터페이스 연결 -->    
<mapper namespace="com.java.www.mapper.MyBoardMapper">
	
	<!-- 자유게시판 리스트(게시물 3개) 가져오기 -->
	<select id="fbList" resultType="com.java.www.dto.FBoardDto">
	select * from
	(select row_number() over(order by f_bgroup desc, f_bstep asc) rnum,a.* from f_board a where id=#{id})
	where rnum between 1 and 3
	</select>
	
	<!-- 캠핑장리뷰 리스트(게시물 3개) 가져오기 -->
	<select id="cpsRList" resultType="com.java.www.dto.Cps_reviewDto">
	select * from
	(select row_number() over(order by cps_sitename desc, cps_bhit asc) rnum,a.* from cps_review a where id=#{id})
	where rnum between 1 and 3
	</select>
	
	<!-- 캠핑꿀팁 리스트(게시물 3개) 가져오기 -->
	<select id="TList" resultType="com.java.www.dto.TBoardDto">
	select * from
    (select row_number() over(order by t_bgroup desc, t_bstep asc) rnum,a.* from t_board a where id=#{id})
	where rnum between 1 and 3
	</select>
	
	<!-- 캠핑용품리뷰 리스트(게시물 3개) 가져오기 -->
	<select id="cppRList" resultType="com.java.www.dto.CppRDto">
	select * from
    (select row_number() over(order by cpp_equipname desc, cpp_bfile asc) rnum,a.* from cpp_review a where id=#{id})
	where rnum between 1 and 3
	</select>
	
	
</mapper>