<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--membermapper.java연결  -->
<mapper namespace="com.java.www.mapper.MSearchMapper">

    
    <!-- 게시글 전체 가져오기  -->
    <select id="MlistSelectAll" resultType="com.java.www.dto.BoardDto">
		select * from (select row_number() over(order by bgroup desc, bstep asc) rnum, a.* from board a
		 <if test="searchTitle=='btitle' or searchTitle=='bcontent' or searchTitle=='id'">
             where ${searchTitle} like '%'||#{searchWord}||'%'
         </if>
         <if test="searchTitle=='all'">
           	 where btitle like '%'||#{searchWord}||'%' or bcontent like '%'||#{searchWord}||'%'
         </if>
		) where rnum between #{startRow} and #{endRow}
    </select> 
    
    
    
    <!-- 게시글 총개수  -->
   <select id="MlistSelectCountAll" resultType="int">
     	select count(*) from board
        <if test="searchTitle =='btitle' or searchTitle =='bcontent' or searchTitle=='id'">
          where ${searchTitle} like '%'||#{searchWord}||'%'
        </if>
        <if test="searchTitle=='all'">
          where btitle like '%'||#{searchWord}||'%' or bcontent like '%'||#{searchWord}||'%'
        </if>
   </select>
   

    
     <!-- 게시글1개 가져오기 : 현재글 -->
    <select id="MlistSelectOne" resultType="com.java.www.dto.BoardDto">
     	select * from board where bno = #{bno}
    </select> 
    
    <!-- 게시글1개 가져오기 : 이전글 -->
     <select id="MPreSelectOne" resultType="com.java.www.dto.BoardDto">
        select * from (select rownum rnum, a.* from 
		(select * from board order by bno desc) a )
		where rnum =(select rnum from (select rownum rnum, a.* from 
		(select * from board order by bno desc) a)
		where bno=#{bno})+1		
    </select> 
    
    <!-- 게시글1개 가져오기 : 다음글 -->
    <select id="MNextSelectOne" resultType="com.java.www.dto.BoardDto">
      select * from (select rownum rnum, a.* from 
		(select * from board order by bno desc) a )
		where rnum =(select rnum from (select rownum rnum, a.* from 
		(select * from board order by bno desc) a)
		where bno=#{bno})-1		
    </select>     
</mapper>    


